apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map
  namespace: release-managed-jbax
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/dcmetromap@sha256:f6090e26562bcab9ea25b5759034aa34f18a6371be3557650b5cecc853762653
        name: container-image
        resources: {}
status: {}
